/**prima parte**/

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.conteiner {
    width: 80%;
    margin: 10px auto;
    
}

header {
    height: 100px;
    margin-bottom: 40px;
    
}
.div-logo {
    width: 100px;
    height: 50px;
}
#logo {
    width: 100%;
    height: 100%;
}

.menù {
    margin-top: 30px;
}

.menù li {
    display: inline;
    list-style: none;
}

.menù li a {
    text-decoration: none;
    color: gray;
    padding-right: 10px;
}

/**fine prima parte**/


.intestazione {
    height: 400px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.overlay {
    position:absolute;
    background-color:rgba( 0,0,0,0.2);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}

.banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.conteiner-main {
    margin-top: 10px;
}

.conteiner-main::after {
    content: "";
    display: table;
    clear: both;
}

.top {
    width: 100%;
    height: 100px;
}

.sidebar-left {
    margin-top: 30px;
    margin-right: 5px;
    width: 20%;
    height: 80%;
    float: left;
    position: relative;

}

.bar-center {
    margin-left: 5px;
    margin-top: 30px;
    width: 58%;
    float: left;
    position: relative;
}

.sidebar-right {
    margin-top: 30px;
    margin-left: 5px;
    width: 20%;
    height: 80%;
    float: right;
    position: relative;
    
}

footer {
    height: 80px;
    margin-top: 40px;
    
}

.conteiner-main::after {
    content: "";
    display: table;
    clear: both;
}


.left {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 2px;
    margin-top: 2px;
}

.rigth {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 2px;
    margin-top: 2px;
}

.center {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-left: 2px;
    border-radius: 10px;
    margin-top: 2px;
}

.cuore {
    text-align: center;
}




